# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Nov 12 2022 19:03:15

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 2
set_io clk 35 -io_std SB_LVCMOS
set_io led 27 -io_std SB_LVCMOS

