# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Oct 26 2022 21:47:26

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 3
set_io LED_B 39 -io_std SB_LVCMOS
set_io LED_G 40 -io_std SB_LVCMOS
set_io LED_R 41 -io_std SB_LVCMOS

set_io sw1[0] 23 -io_std SB_LVCMOS
set_io sw1[1] 25 -io_std SB_LVCMOS
set_io sw2[0] 34 -io_std SB_LVCMOS
set_io sw2[1] 43 -io_std SB_LVCMOS