# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Oct 27 2022 19:28:07

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 7
set_io LED_B 39 -io_std SB_LVCMOS
set_io LED_R 41 -io_std SB_LVCMOS
set_io sw1[1] 23 -io_std SB_LVCMOS -pullup yes
set_io sw2[0] 43 -io_std SB_LVCMOS -pullup yes
set_io LED_G 40 -io_std SB_LVCMOS
set_io sw1[0] 25 -io_std SB_LVCMOS -pullup yes
set_io sw2[1] 34 -io_std SB_LVCMOS -pullup yes

